<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="footer-wrapper">

    <div class="footer-col-2">
        <ul>{%- if site.github_username -%}<a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username">{{ site.github_username| escape }}</span></a>{%- endif -%}</ul>

        <ul>{%- if site.instagram_username -%}<a href="https://instagram.com/{{ site.instagram_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#instagram' | relative_url }}"></use></svg> <span class="username">{{ site.instagram_username| escape }}</span></a>{%- endif -%}</ul>

        <ul>{%- if site.linkedin_username -%}<a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"></use></svg> <span class="username">Matthew Stapylton</span></a>{%- endif -%}</ul>
        <ul><center>2024 Matthew Stapylton &copy;</center></ul>

    </div>


    <form class="contact-form" target="_blank" action="https://formspree.io/f/xnqewrwl" method="POST">
      <input type="hidden" name="_subject" value="Contact request from personal website" />
      <textarea class="form-box" name="message" placeholder="To get in touch, please provide your name, email or github username. Feedback and questions are more than welcome! The code base for generating Skolem Squares is also available by request." required></textarea>
      <button type="submit">Send</button>
    </form>

  </div>


</footer>
