<header class="site-header" role="banner">

  <div class="header-wrapper">

    <div class="title-item">
      <img src="/assets/header-pic.png" class="small_img">
      <div class="web-title">
       <p class="site-title">Skolem Squares</p>
     </div>
      <img src="/assets/header-pic.png" class="small_img">
    </div>


     <div class="site-nav">
       <div class="header-icon"><a class="post-link" href="{{ "/" | relative_url }}">Introduction</a></div>
        {%- for post in site.posts -%}
           {%- if post.title != "" -%}
             <div class="header-icon"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></div>
           {%- endif -%}
        {%- endfor -%}
    </div>


</header>
