---
layout: default
---
<div class="post-content">
    <div class="background-table">
     <div class="table-nav">
      <div class="table-item">
       <a class="table-link" href="{{ "/design/" | relative_url }}">{{ "Puzzle Design" | escape }}</a>
      </div>
      <div class="table-item">
       <a class="table-link" href="{{ "/algorithm/" | relative_url }}">{{ "Puzzle Algorithm" | escape }}</a>
      </div>
      <div class="table-item">
       <a class="table-link" href="{{ "/projectcode/" | relative_url }}">{{ "Code Base" | escape }}</a>
      </div>
      <div class="table-item">
       <a class="table-link" href="{{ "/webdesign/" | relative_url }}">{{ "Website Info" | escape }}</a>
      </div>
      <div class="table-item">
       <a class="table-link" href="{{ "/aboutme/" | relative_url }}">{{ "About Me" | escape }}</a>
      </div>
     </div>
     <div class="table-contents">
      {{ content }}
     </div>
    </div>
</div>
