---
layout: default
---
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.pages.size > 0 -%}
    <div class="site-subtitle">A fun and challenging number puzzle for fans of Sudoku and recreational math</div>
    <div class="post-list">
       <h1>:How to play:</h1>
        <a></a>
          {%- for post in site.pages -%}
            {%- if post.title == "true" -%}
                  <div class="post-text">
                      {{ post.text | escape }}
                  </div>
                 <div class="post-wrap2">
                     <img class="med_img" src="{{ post.pic | relative_url }}">
                  </div>
            {%- endif -%}
          {%- endfor -%}
    </div>
  {%- endif -%}
</div>
