---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        <li>
          <p class="site-subtitle">Skolem Squares: A Sudoku-like number puzzle</p>
        </li>

      {%- for post in site.posts -%}
        {%- if post.text != "" -%}
          <li>
            <div class="post-wrap">
              <div class="post-text">
                  {{ post.text | escape }}
              </div>
              {%- if post.foot != "" -%}
                <br>
                <div class="post-foot">
              {%- endif -%}
              {%- if post.text2 != "" -%}
                <div class="post-text">
                    {{ post.text2 | escape }}
                </div>
              {%- endif -%}
              {%- if post.text3 != "" -%}
                <div class="post-text">
                    {{ post.text3 | escape }}
                </div>
              {%- endif -%}
              {%- if post.link != "" -%}
                <a class="page-link" href="{{ post.url | relative_url }}">
                  {{ post.link | escape }}
                </a>
              {%- endif -%}
              </div>
            </div>
            {%- if post.link != "" -%}
              <div class="post-wrap2">
                <div class="post-text">
                  {{ post.subtext | escape }}
                </div>
                <div class="post-entry">
                  <img class="med_img" src="{{ post.pic | relative_url }}">
                </div>
              </div>
            {%- endif -%}
          </li>
        {%- endif -%}
     {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
